*.adoc text eol=lf
*.anim text eol=lf
*.asset text eol=lf
*.bin filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.cginc text eol=lf
*.controller text eol=lf
*.cs text eol=lf
*.edg filter=lfs diff=lfs merge=lfs -text
*.editorconfig text eol=lf
*.fbx filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.inputactions text eol=lf
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.json text eol=lf
*.mat text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.[Oo][Tt][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Oo]verride[Cc]ontroller text eol=lf
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.playable text eol=lf
*.png filter=lfs diff=lfs merge=lfs -text
*.prefab text eol=lf
*.psd filter=lfs diff=lfs merge=lfs -text
*.sh text eol=lf
*.shader text eol=lf
*.shadergraph text eol=lf
*.shadersubgraph text eol=lf
*.tif filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.ttf filter=lfs diff=lfs merge=lfs -text
*.TTF filter=lfs diff=lfs merge=lfs -text
*.txt text eol=lf
*.unity text eol=lf
*.wav filter=lfs diff=lfs merge=lfs -text
LICENSE text eol=lf
Search.index text eol=lf
